* {
  margin: 0;
  padding: 0;
}

#container {
  margin-top: 10vh;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header, article {
  width: 35rem;
  margin: auto;
  padding: 3rem 4rem;
}

#text {
  font-size: 2rem;
  text-align: center;
}

#author {
  margin-top: 1.5rem;
  text-align: right;
  font-weight: bold;
}

.buttons {
  margin-top: 2.5rem;
}

#tweet-quote {
  padding: 1.2rem 0.8rem 0.5rem;
}

button {
  margin-top: -0.55rem;
  padding: 1rem 1.5rem;
  float: right;
  border: 0;
}

article, button, a {
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 1rem;
}